body {
    position: absolute;
    width: 100%;
    height: 100%;
}
.main {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    height: 9rem;
}
.console {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 6.5rem;
}
.reset {
    padding: 0.05rem 0.2rem;
    font-size: 0.6rem;
    font-weight: bold;
    color: rgb(119, 110, 101);
    background: rgb(221, 204, 187);
    border-radius: 0.1rem;
    border: none;
    outline: none;
}
.wrap {
    position: absolute;
    top: 2rem;
    left: 50%;
    transform: translateX(-50%);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 6.5rem;
    height: 6.5rem;
    background-color: rgb(187, 170, 170);
    border-radius: 0.1rem;
    padding: 0.05rem;
}
.row {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    width: 6.4rem;
    height: 1.6rem;
}
.cell {
    box-sizing: border-box;
    width: 1.5rem;
    height: 1.5rem;
    margin: 0.05rem;
    border-radius: 0.1rem;
    background-color: rgb(221, 204, 187);
}
.board {
    position: absolute;
    top: 2rem;
    left: 50%;
    transform: translateX(-50%);
    width: 6.5rem;
    height: 6.5rem;
}
.num {
    position: absolute;
    box-sizing: border-box;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 0.1rem;
    color: rgb(119, 110, 101);
    font-size: 0.8rem;
    font-weight: bold;
    text-align: center;
    padding-top: 0.3rem;
}
.num-2 {
    background-color: rgb(238, 228, 218);
}
.num-4 {
    background-color: rgb(237, 224, 200);
}
.num-8 {
    color: #fff;
    background-color: rgb(242, 177, 121);
}
.num-16 {
    color: #fff;
    background-color: rgb(245, 149, 99);
}
.num-32 {
    color: #fff;
    background-color: rgb(246, 124, 95);
}
.num-64 {
    color: #fff;
    background-color: rgb(246, 94, 59);
}
.num-128 {
    color: #fff;
    background-color: rgb(237, 207, 114);
}
.num-256 {
    color: #fff;
    background-color: rgb(237, 204, 97);
}
.num-512 {
    color: #fff;
    background-color: rgb(237, 200, 80);
}
.num-1024 {
    color: #fff;
    background-color: rgb(237, 197, 63);
    font-size: 0.6rem;
    padding-top: 0.44rem;
}
.num-2048 {
    color: #fff;
    background-color: rgb(237, 194, 46);
    font-size: 0.6rem;
    padding-top: 0.44rem;
}
.tips {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.8);
}
.tips-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #776E65;
    border: 0.1rem solid #BBAAAA;
    background: #EEE4DA;
    border-radius: 0.2rem;
    font-size: 0.8rem;
    font-weight: bold;
    padding: 0.5rem;
    text-align: center;
}
